*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --color: #000000;
    --background: #ffffff;
    --gridSize: "16";
}

.fill{
    background-color: var(--color);
}

main>h1{
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
}

.board{
    height: 600px;
    width: 600px;
    background-color: black;
    margin: 50px auto;
    display: grid;
    box-shadow: 0px 0px 8px #0000006e;
}

.gridline{
    column-gap: 1px;
    row-gap: 1px;
}

.default{
    background-color: var(--background);
}

.block{
    user-select: none;
}

.pref{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10%;
    top: 25%;
    width: 250px;
    text-align: center;
    transform: translateY(5%);
}

.pref>label,.pref>div{
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.pref>label:last-child{
    border: none;
}

.paint{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pref div{
    text-align: center;
    cursor: pointer;
}

.selected{
    background-color: rgb(20, 20, 20);
    color: #ffffff;
}

footer{
    position: fixed;
    bottom: 0px;
    padding: 25px 0;
    width: 100%;
    text-align: center;
}